<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transaction History</title>
  <style>
    body {
      margin: 0;
      padding: 40px;
      background: blanchedalmond;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    
  </style>
</head>
<body>
    <h1> Hello human </h1>

    <p> Using MongoDB, Express, React.js and Node.js technologies in the MVC pattern, I thought about finding the grandest combinations in Munchkin. At first, I planned to accomplish this manually, on paper. However, came the idea to develop an algorithm to automate the process. After that, the idea came into my head to give this idea an interesting look by creating a web application. This pet project was the perfect way to not only delve into learning new technologies, but also to translate my passion for the game into a real-world project. </p>

    <p> In addition to mastering the MERN stack and web development in general, this project has encouraged me to learn new things and find joy in development. This is the first time I have encountered using the MERN Stack, and it promises to be an exciting challenge. </p>
</body>
</html>


