<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transaction History</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background: linear-gradient(132deg, rgba(81, 177, 105, 0.4), rgba(98, 133, 118, 0.6));
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    table {
      width: 80%;
      margin-top: 20px;
      border-collapse: collapse;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
    <h1>Add New Race Card</h1>

    <form action="/raceAdd" method="POST">
        <label for="id__form"> RaceId: </label>
        <input type="text" id="id__form" name="raceId" required><br><br>

        <label for="name__form"> Name of the card: </label>
        <input type="text" id="name__form" name="name" required><br><br>
        
        <label for="ability__form"> Race abilities: </label>
        <textarea id="ability__form" name="ability"  type="text"></textarea><br><br>

        <label for="image__form"> Image link: </label>
        <input type="text" id="image__form" name="image"><br><br>

        <label for="type__form"> Card type: </label>
        <input type="text" id="type__form" name="type"><br><br>

        <input type="submit" value="add">
    </form>
</body>
</html>


